{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<!--  Home Styles  -->
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}
<div class="col-sm-10 content">
    <div class="notification-area box-shadow">
        <h6>Notification Area</h6>

        <table class="table table-striped">
            <tbody>
                {% for notification in notifications %}
                        <tr>
                            <th class="text-warning" style="width: 20px;"> <i class="fas fa-exclamation-triangle"></i> </th>
                            <td>{{ notification.monthlyInstallment.installment.client }}</td>
                            <td>{{ notification.monthlyInstallment.installment.client.phone }}</td>
                            <td>&pound; {{ notification.monthlyInstallment.amount }}</td>
                            <td>{{ notification.monthlyInstallment.installment.car }}</td>
                            <td>{{ notification.monthlyInstallment.installment_date }}</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}





{% block scripts %}

<!--  Home Plugin  -->
<script src="{% static 'js/home.js' %}"></script>

{% endblock %}
