{% extends 'base.html' %}
{% load staticfiles %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<!-- Start Content -->
<div class="col-sm-10 content">
    <a href="#" class="bg-success transition-fast btn-add shadow-animate"><i class="fas fa-plus"></i></a>

    <div class="statistics">
        <h1>
            <span class="icon">
                <i class="fas fa-users"></i>
            </span>

            <span class="count">3</span>
            Clients
        </h1>
    </div>

    <div class="table-container box-shadow">

        <table class="table table-hover">
            <tbody>
                <thead>
                    <th>ID</th>

                    <td>Full Name</td>

                    <td>Phone</td>
                    <td>Address</td>
                </thead>
                {% for client in clients %}
                    <tr>
                        <th>{{ client.pk }}</th>
                        <td><a href="{% url 'details' branch.pk client.pk %}">{{ client }}</a></td>
                        <td>+201154628593</td>
                        <td>Elminia</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
<!-- End Content -->

{% endblock %}


           